*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

body{
    font-family: 'Rubik', sans-serif;
    background: aliceblue;
    padding: 60px 30px;
}
.social-links{
    display: flex;
    align-items: center;
    gap: 24px;
    transition: 0.2s ease-in-out;
    .social-link:nth-child(1):hover svg path{
        fill: #1873EB;
    }
    .social-link:nth-child(2):hover svg path{
        fill: #009DED ;
    }
    .social-link:nth-child(3):hover svg path{
        fill:#B7081B;
    }
    .social-link:nth-child(4):hover svg path{
        fill: #4782C6;
    }
}

// Music
.music{
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
    border-radius: 30px;
    &-img{
        img{
            border-radius: 20px;
        }
    }
    &-information{
        padding-top: 20px;
        .music-title{
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            color: #362A43;
        }
        .music-label{
            padding-top: 16px;
            &__item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .name{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 30px;
                    color: #464646;
                }
                .propertie{
                    font-size: 16px;
                    line-height: 30px;
                    text-align: right;
                    color: #464646;
                }
            }
        }
    }
}

// Show
.show{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px 20px 20px;
    background-color: #fff;
    border-radius: 12px;
    gap: 60px;
    &-img{
        flex-basis: 20%;
        img{
            border-radius: 24px;
        }
    }
    &-information{
        flex-basis: 50%;
        .show-title{
            font-weight: 500;
            font-size: 28px;
            line-height: 33px;
            color: #362A43;
        }
        .show-time{
            display: flex;
            align-items: center;
            gap: 60px;
            padding-top: 22px;
            .name{
                font-weight: 500;
                font-size: 15px;
                line-height: 28px;
                color: #464646;                
            }
            .propertie{
                font-size: 15px;
                line-height: 28px;
                color: #464646;
            }
        }
    }
    &-order{
        flex-basis: 30%;
        &-title{
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #362A43;
            text-align: end;
            .show_number{
                display: inline-block;
                padding: 0 6px;
            }
        }
        .show-buttons{
            justify-content: flex-end;
            display: flex;
            gap: 16px;
            padding-top: 22px;
            transition: 0.3s ease-in-out;
            button{
                padding: 14px 34px;
                color: #fff;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                border-radius: 6px;
                border: none;
                &:hover{
                    opacity: 0.8;
                }
            }
            .buy{
                background: #B48FDB;
            }
            .reserve{
                background: #84DCE3;
                padding: 14px 40px;
            }
        }
    }
}

// Video
.video{
    cursor: pointer;
    padding: 20px 40px 20px 20px;
    background-color: #fff;
    border-radius: 30px;
    display: inline-flex;
    box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
    gap: 30px;
    img{
        border-radius: 24px;
    }
    &-information{
        .video-title{
            font-weight: 500;
            font-size: 22px;
            line-height: 34px;
            color: #362A43;
            padding-bottom: 30px;
        }
        .video-label{
            padding-top: 30px;
            display: flex;
            font-size: 20px;
            line-height: 30px;
            color: #464646;
            hr{
                margin: 4px 16px;
                border-left: solid;
                border-top-width: 0;
                border-left-width: 2px;
                border-right-width: 0;
                border-bottom-width: 0;
                border-color: #c1c1c1;
            }
            svg{
                vertical-align: text-bottom;
                margin-right: 8px;
            }
        }
    }
}

// Events
.event{
    width: 255px;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
    &-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #362A43;
        padding: 30px 0 20px;
    }
    &-prg{
        font-size: 16px;
        line-height: 26px;
        color: #464646;
    }

}

//member
.member{
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.15);
    border-radius: 30px;
    &-img{
        img{
            border-radius: 30px;
        }
    }
    &-information{
        font-family: 'Merriweather', serif;
        padding: 24px 0;
        text-align: center;
        .member-title{
            font-weight: 500;
            font-size: 26px;
            line-height: 34px;
            color: #362A43;
        }
        .member-position{
            font-family: 'Rubik';
            font-size: 14px;
            padding: 14px 0;
            line-height: 21px;
            color: rgba(54, 42, 67, 0.6);
        }
        .social-links{
            justify-content: center;
        }
    }
}

//article
.article{
    display: inline-block;
    width: 540px;
    padding: 20px 20px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
    border-radius: 30px;
    &-img{
        img{
            border-radius: 20px;
            width: 100%;
        }
    }
    &-information{
        padding-top: 20px;
        .article-date{
            display: flex;
            hr{
                margin: 4px 16px;
                border-left: solid;
                border-top-width: 0;
                border-left-width: 2px;
                border-right-width: 0;
                border-bottom-width: 0;
                border-color: #c1c1c1;
            }
            svg{
                vertical-align: text-bottom;
            }
        }
        .article-title{
            font-weight: bold;
            font-size: 24px;
            font-family: 'Merriweather', serif;
            line-height: 31px;
            color: #362A43;
            padding-top: 20px;
        }
        .article-prg{
            padding: 20px 0;
            font-family: 'Rubik';
            font-size: 16px;
            line-height: 28px;
            color: rgba(54, 42, 67, 0.8);
        }
        .read-more{
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #362A43;
            svg{
                vertical-align: text-top;
                margin-left: 6px;
            }
        }
    }
}

//Clients
.client{
    display: inline-block;
    &-img{
        img{
            border-radius: 44%;
        }
    }
    &-name{
        font-family: Rubik;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #362A43;
        padding: 20px 0;
    }
    &-position{
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        text-align: center;
        color: #636363;
    }
}

//newsletter
.newsletter{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 130px 0;
    background-image: url('../images/Mask\ Group\ \(2\).png');
    background-position: center;
    background-size: 114% 152%;
    background-repeat: no-repeat;
    background-color: #362A43;
    box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
    border-radius: 33px;
    &-text{
        .newsletter-title{
            font-weight: bold;
            font-size: 48px;
            line-height: 57px;
            color: #FFFFFF;
        }
        .newsletter-label{
            padding-top: 8px;
            font-size: 16px;
            line-height: 26px;
            color: #FFFFFF;
        }
    }
    .newsletter-form{
        display: flex;
        background: #84DCE3;
        border-radius: 10px;
        filter: drop-shadow(0px 4px 100px rgba(74, 148, 154, 0.1));
        input{
            background: #FFFFFF;
            border: 4px solid #84DCE3;
            padding: 0 70px 0 20px;
            border-radius: 10px;
            outline: none;
            &::placeholder{
                font-size: 16px;
                line-height: 24px;
                color: #606060;
            }
        }
        button{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            padding: 16px 24px;
            border: none;
            color: #362B44;
            background: #84DCE3;
            box-shadow: 0px 4px 100px rgba(74, 148, 154, 0.1);
            border-radius: 0px 10px 10px 0px;
        }
    }
}
